h1 {
	background-color: #4aaaa5;
	color: #FFFFFF;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	width: 450px;
	padding: 25px;
	margin: 0px;
}

nav {
	position: fixed;
	top: 40px;
	right: 80px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	padding: 10px;
	font-size: 18px;
	align-self: center;
}

h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h3 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	background-color: #ffffff
}

#submit {
	background-color: #4aaaa5;
	color: #FFFFFF;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding: 20px;
	font-size: 14px;
}

#portfolio-links {
	z-index: 10;
	float: left;
	position: absolute;
	width: 650px;
	background-color: #FFFFFF;
	margin: 75px;
	padding: 20px
}

#bio {
	float: left;
	z-index: 10;
	position: absolute;
	width: 650px;
	background-color: #FFFFFF;
	margin: 75px;
	padding: 20px;
}

#contact-form {
	float: left;
	z-index: 10;
	position: absolute;
	background-color: #FFFFFF;
	width: 650px;
	padding: 20px;
	margin: 75px;
}

#contact-info {
	z-index: 10;
	position: absolute;
	left: 800px;
	background-color: #FFFFFF;
	width: 270px;
	margin: 75px;
	padding: 15px;
	align-self: center;
}

h4 {
	background-color: #4aaaa5;
	color: #FFFFFF;
	width:250px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}


#background {
	position: relative;
	height: 1000px;
	width: 100%;
	z-index: 1;
	border-top-color: #777777;
	border-top-style: solid;
	border-top-width: 2px;
	margin-bottom: 0px;
	border-bottom-color: #777777;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

footer {
	color: #777777;
	border-top-style: solid;
	border-color: #4aaaa5;
	background-color: #666666;
	border-top-width: 12px;
	padding: 50px;
	text-align: center;
	margin-top: 0px;
}

#me-pic {
	width: 280px;
	height: 300px;
	float: left;
	margin-right: 5px;
}

#form {
	width: 600px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#message {
	height: 350px;
	width: 600px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.port-pics {
	height: 180px;
	width: 250px;
	position: relative;
	margin-right: 20px;
	margin-top: 50px;
}
.sm-links {
	height: 50px;
	width: 50px;
	margin: 5px;
}

#hangman {
	float:left;
	position: absolute;
	z-index: 5;
	top: 230px;
}

#RPG {
	float: right;
	position: absolute;
	z-index: 5;
	top: 230px;
	left: 294px;
}

#trivia {
	float: left;
	position: absolute;
	z-index: 5;
	top: 460px;
}

#info-widget {
	float: right;
	position: absolute;
	z-index: 5;
	top: 460px;
	left: 294px;
}

#rock-paper {
	float: left;
	position: absolute;
	z-index: 5;
	top: 700px;
}
